.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px -1px gray;
    background-color: white;
}

.nav-container {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav-element {
    position: relative;
}

//////////////////////////////

.main-container {
    padding-top: 7%;
}

.main-card {
    transform: scale(1);
    margin-bottom: 1%;
    margin-top: 1%;

    transition-duration: 0.5s;

    &:hover {
        transform: scale(1.05);
        margin-bottom: 2%;
        margin-top: 2%;
    }
}

.card-name {
    height: 100%; 
    text-align: center; 
    display: table;
    width: 100%;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

    & h1 {
        display: table-cell; 
        vertical-align: middle;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;
    }
}

.card-flag {
    height: 100%; 
    text-align: center; 
    display: table;
    width: 100%;

    .flag {
        display: table-cell; 
        vertical-align: middle;
    }
}

.alpha3 {
    border: solid 2px black;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

.vert-center {
    position: relative;
    height: 100%;
    
    .holidays {
        position: absolute;
        top: 52%;
        right: 0;
        transform: translateY(-50%);
    }

    .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .fav {
        cursor: pointer;
        color: grey;
        

        &:hover {
            color: gold;
        }
    }
}

.fav-msg {
    color: grey;
    opacity: 0.5;
}