.navbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px -1px gray;
}

.nav-container {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav-element {
    position: relative;
}

h1 {
    float: right;
}